/*
=====================================================================
*   Woo v1.0 Default Stylesheet
*   url: styleshout.com
*   05-02-2014
=====================================================================

TOC:

a. Webfonts and Icon fonts
b. Preloader
c. Reset
d. Default Styles
   1. Basic
   2. Typography
   3. Links
   4. Media
   5. Buttons
   6. Forms
   d. Grid
   e. Others
   1. Clearing
   2. Misc

=====================================================================  */


/* ------------------------------------------------------------------ */
/* a. Webfonts and Icon fonts
 ------------------------------------------------------------------ */

/* @import url("fonts.css"); */
@import url("font-awesome/css/font-awesome.min.css");


/* ------------------------------------------------------------------ */
/* b. Preloader
 ------------------------------------------------------------------ */

#preloader  {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: #fff;
   z-index: 99999;
   height: 100%;
}
#status  {    
   position: absolute;
   left: 50%;
   top: 50%;
   width: 64px;
   height: 64px;
   margin: -32px 0 0 -32px;  
   padding: 0;    
}



/* 1. Basic  ------------------------------------------------------- */

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

html { font-size: 62.5%; }

body {
   background: #fff;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 30px;
	color: #444;
   -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}

/* 2. Typography
      Vertical rhythm with leading derived from 6
--------------------------------------------------------------------- */

caption, h1, h2, h3, h4, h5, h6 {
   color: #313131;
	font-family: 'Roboto', sans-serif;
   font-weight: 300;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: 60px; line-height: 42px; margin-bottom: 16px; letter-spacing: -1px; }
h2 { font-size: 28px; line-height: 36px; margin-bottom: 6px; }
h3 { font-size: 22px; line-height: 30px; margin-bottom: 12px; }
h4 { font-size: 20px; line-height: 30px; margin-bottom: 6px; }
h5 { font-size: 18px; line-height: 30px; }
h6 { font-size: 14px; line-height: 30px; }


p, caption { margin: 0 0 30px 0; }
p img { margin: 0; }


/* for 'em' and 'strong' tags, font-size and line-height should be same with
the body tag due to rendering problems in some browsers */
em { font: 15px/30px 'Roboto', sans-serif; font-style:italic;}
strong, b { font-family: 'Roboto', sans-serif; font-weight:500; }
small { font-size: 11px; line-height: inherit; }


/*  3. Links  ------------------------------------------------------- */

a, a:visited {
   text-decoration: none;
   outline: 0;
   color: #bb3e3e;

   -webkit-transition: color .3s ease-in-out;
   -moz-transition: color .3s ease-in-out;
   -o-transition: color .3s ease-in-out;
   transition: color .3s ease-in-out;
}
a:hover, a:focus { color: #333; }
p a, p a:visited { line-height: inherit; }

/* 5. Media   --------------------------------------------------------- */

img,
video,
iframe,
embed,
object {
   max-width: 100%;
   height: auto;
}

/* ------------------------------------------------------------------ */
/* d. Grid
--------------------------------------------------------------------- */

/* default
--------------------------------------------------------------- */
.row {
   width: 96%;
   max-width: 1008px;
   margin: 0 auto;
}
/* fixed width for IE8 */
.ie .row { width: 1000px ; }


.row .row { width: auto; max-width: none; margin: 0 -18px; }

/* row clearing */
.row:before,
.row:after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}

.column, .columns {
   position: relative;
   padding: 0 0px;
   min-height: 1px;
   float: left;
}


/* removed gutters */
.row.collapsed > .column,
.row.collapsed > .columns,
.column.collapsed, .columns.collapsed  { padding: 0; }

[class*="column"] + [class*="column"]:last-child { float: right; }
[class*="column"] + [class*="column"].end { float: right; }

/* column widths */

.row .twelve      { width: 100%; }


/* screenwidth less than 768px - mobile/smaller tablets
--------------------------------------------------------------- */
@media only screen and (max-width: 767px) {

   .row {
	   width: 480px;
	   margin: 0 auto;
      padding: 0;
	}
   .column, .columns {
	   width: auto !important;      
	   float: none;
	   margin-left: 0;
	   margin-right: 0;
      padding: 0 30px;
   }
   .row .row { width: auto; max-width: none; margin: 0 -30px; }

   [class*="column"] + [class*="column"]:last-child { float: none; }
   [class*="bgrid"] [class*="column"] + [class*="column"]:last-child { float: none; }



/* screenwidth less than or equal 480px - mobile wide
--------------------------------------------------------------- */
@media only screen and (max-width: 480px) {

   .row { width: auto; }

}



