@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300);

/*
=====================================================================
*   adapted from Woo v1.0 Layout Stylesheet for astronomdagarna 2015
*   url: styleshout.com
*   05-02-2014
*   last revised 2014-12-10
=====================================================================

	TOC:
1	iframes
2	General and Common Styles
3	header Styles
4	hero 
5	home 
6	about 
7	venue
8	registration
9	schedule
10	contribution
11	accommodation
12	participants
13	organizers		
14	footer

===================================================================== */

/* 1	Making iframes "responsive" */

iframe{
	width: 70vw !important;
	height: 60vh !important;
}

/* ------------------------------------------------------------------ */
/* 2	General and Common Styles
/* ------------------------------------------------------------------ */

.section-head {
	padding: 0 4%;
	text-align: center;
}
.section-head h1 {
	font: 50px 'Roboto', sans-serif;
	line-height: 60px;
	color: #DF9D45;
	font-weight:300;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	margin-bottom: 30px;
}

/* ------------------------------------------------------------------ */
/* 3	 Header Styles
/* ------------------------------------------------------------------ */

header {
	height: 54px;
	width: 100%;
	background: #13171B;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 990;
}

/* header social */
header .header-social {
	font-size: 20px;
	font-weight: normal;
	line-height: 54px;
	color: #424a56;
	margin: 0 10px 0 0;
	padding: 0;
	float: right;
}
header .header-social li {
	display: inline-block;
	margin-right: 20px;
}
header .header-social li a { color: #bb3e3e; }
header .header-social li a:hover { color: #fff270; }

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap, #nav-wrap ul, #nav-wrap li, #nav-wrap a {
	 margin: 0;
	 padding: 0;
	 border: none;
	 outline: none;
}

/* nav-wrap */
#nav-wrap {
	font: 14px  'Roboto', sans-serif;
	font-weight: 500;
	letter-spacing: 1px;
	float: left;
	padding: 0 1%;
   text-transform: uppercase;
}

/* hide toggle button */
#nav-wrap > a { display: none; }

ul#nav {
	min-height: 54px;
	width: auto;

	/* left align the menu */
	text-align: left;
}

ul#nav li {
	position: relative;
	list-style: none;
	height: 54px;
	display: inline-block;
}

/* Links */
ul#nav li a {

	/* 8px padding top + 8px padding bottom + 38px line-height = 54px */
	display: inline-block;
	padding: 8px 8px;
	line-height: 38px;
	text-decoration: none;
	text-align: left;
	color: #aaa;

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

ul#nav li a:hover { color: #fff; }
ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: #bb3e3e; }

#hero {
	padding-top: 66px;
	background: #20293F;
	overflow: hidden;
}

#hero .row { max-width: 1040px; }

/* Hero Text */
.hero-text {
	color: #fff;
	width: 83%;
	text-align: center;
	margin: 54px auto 24px auto;
}


#home {
	background: #fff;
	padding-top: 70px;
	padding-bottom: 70px;
	overflow: hidden;
}

#about {
	background: #fafafa;
	padding-top: 70px;
	padding-bottom: 70px;
}


#venue {
	background: #fff;
	padding-top: 70px;
	padding-bottom: 70px;
	overflow: hidden;
}

#registration {
        background: #fafafa;
        padding-top: 70px;
        padding-bottom: 70px;
        overflow: hidden;
}

#schedule {
	background: #fff;
	padding-top: 70px;
	padding-bottom: 70px;
}


#contributions {
	background: #fafafa;
	padding-top: 70px;
	padding-bottom: 70px;
}


#accommodation {
	background: #fff;
	padding-top: 70px;
	padding-bottom: 70px;
	overflow: hidden;
}

#participants {
	background: #fafafa;
	padding-top: 70px;
	padding-bottom: 70px;
	overflow: hidden;
}


#organizers {
	background: #fff;
	padding-top: 70px;
	padding-bottom: 70px;
	overflow: hidden;
}


footer {
	padding-top: 84px;	
	margin-bottom: 0px;
	background:#111;
	color: #ddd;
	font-size: 14px;
	line-height: 24px;
	position: relative;
}

footer a, footer a:visited { color: #bb3e3e; }
footer a:hover, footer a:focus { color: #fff; }

footer h3 {
	font: 13px/24px 'Roboto', sans-serif;
	margin-bottom: 0;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/* Go To Top Button */
#go-top {
	position: absolute;
	top: -24px;
	left: 50%;
	margin-left: -30px;
	text-align: center;
	z-index: 889;
}
#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	width: 60px;
	height: 60px;
	background: #525252;
  	color: #fff;
   	font-size: 21px;
   	line-height: 60px;
 	border-radius: 100%;
}
#go-top a:hover { background: #0F9095; }
